# Ignore PHPStorm project files
.idea

# Ignore MacOS cache files
.DS_STORE

# Ignore PHPUnit result cache
.phpunit.result.cache

# Ignore PHPCS result cache
.cs-check.json

# Ignore phive home directory and installed tools
.phive
/tools/phpcs
/tools/phpunit
/tools/phpunit.phar
/tools/phpstan
/tools/captainhook

# Ignore composer libs
/vendor/
/composer.lock
/composer.phar.lock

# Ignore the build directory
/build/
